:root {
  --color-rgb: rgba(255, 255, 255, 1);
  --color-hover-rgb: rgba(255, 255, 255, 8);
  --max-width: 1440px;
  --background-color: rgba(16, 16, 16, 1); 
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--color-rgb));
  background: rgb(var(--background-color));
}

a {
  color: inherit;
  text-decoration: none;
}

button {
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
